<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">
    <title>智联管理系统</title>
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/bootstrap/css/ligh-broadside.css" rel="stylesheet">
    <link href="http://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="static/bootstrap/css/jquery-ui.css">
    <style type="text/css">
        .select{
            width: 15%;
            height: 34px;
            display: inline;
        }
        .input{
            width: 30%;
            height: 34px;
            display: inline;
        }
        .text_area {
            width: 30%;
            height: 500px;
        }
        .td {
            border-top: hidden;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">外网运维管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/chpasswd">更改密码</a></li>
            <li><a href="/logout">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
   <br>
   <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="width:280px" >
        <!--<ul class="nav nav-list"> -->
        <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
          <li class="active">
              <a href="/index"><i class="glyphicon glyphicon-th-large"></i>外网运维管理系统</a>
          </li>
          <li><a href="#linuxSetting" class="nav-header collapsed" data-toggle="collapse">
              <i class="glyphicon glyphicon-cog"></i>Linux部署
              <span class="pull-right glyphicon glyphicon-chevron-down"></span></a>
              <ul id="linuxSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                  <li><a href="/index" class="glyphicon glyphicon-fire">软件部署</a></li> 
                  <li><a href="/deploy_details" class="glyphicon glyphicon-unchecked">部署历史</a></li>
              </ul>
          </li>
        </ul> 
      </div>

    <div class='col-md-9'>
      <h2>部署历史</h2>
        <tr>
         <!--<ul class="nav nav-tabs nav-stacked">-->
        <p>
        </p>
        <br>
        <br>
        </tr>
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">-->
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width:50px">序号</th>
                  <th style="width:90px">员工姓名</th>
                  <th style="width:90px">软件名称</th>
                  <th style="width:200px">部署项目</th>
                  <th>部署地址</th>
                  <th style="width:160px">填表时间</th>
                </tr>
              </thead>
              <tbody>

                {% for list in deploy_his %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
			<td>
			    {{list.staff_name}}
			</td>
                        <td>
                      	    {{list.project_name}}
                        </td>
                        <td>
                      	    {{list.deploy_name}}
                        </td>
			<td>
			    {{list.ip_name}}
			</td>
			<td>
			     {{list.update_time|date:"Y-m-d H:i:s"}}
			</td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
            <p>
            {% if deploy_his.has_previous %}
              <a href="?page={{ deploy_his.previous_page_number }}">Previous</a>
              {% endif %}
              {# deploy_his.paginator.number_pages 返回总页数 #}
              Page {{ deploy_his.number }} of {{ deploy_his.paginator.num_pages }}.
            {% if deploy_his.has_next %}
              <a href="?page={{ deploy_his.next_page_number }}">Next</a>
            {% endif %}
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
   </div>
    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="static/bootstrap/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
   <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="static/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
   <script type="text/javascript" src="static/bootstrap/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
  </body>
</html>

